.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid-div {
    width: 35%;
    padding-bottom: 50px;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}
